//
// --- Fonts ---
//

@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

@font-face {
  font-family: 'Mahalo';
  src: url('../fonts/Mahalo.woff2') format('woff2'),
       url('../fonts/Mahalo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//
// --- Variables ---
//

$grey: #e4e6e7;
$primary: #214050;
$secondary: #8fa5b0;
$beigeDark: #9a9a92;
$beigeLight: #f6f6f4;

$mainColumnWidth: 480px;

//
// --- Mixins ---
//

@mixin shadow($xOffset: 0.125rem, $yOffset: 0.125rem) {
  box-shadow: $xOffset $yOffset 0.5rem rgba(0, 0, 0, 0.4);
}

//
// --- Basics
//

* {
  box-sizing: border-box;

  *:before, *:after {
    box-sizing: inherit;
  }
}

* + * {
  margin-top: 1rem;
  margin-bottom: 0;

  :first-child {
    margin-top: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../images/dots.png);
  background-size: 600px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-family: 'Zilla Slab', serif;
}

h1, h2, h3, h4 {
  color: $primary;
  text-transform: uppercase;
  font-family: Mahalo, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; color: $beigeDark; margin-top: 1.5rem; }
h4 { font-size: 1rem; }

//
// --- Layout
//

.estresso {
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
}

.column {
  max-width: $mainColumnWidth;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

//
// --- Buttons ---
//

button {
  font-family: inherit;
  background-color: $primary;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  appearance: none;
  transition: all 100ms linear;
  @include shadow();

  &.secondary {
    background-color: $secondary;
  }

  &.tilded {
    &:before, &:after {
      content: '\2020';
      color: rgba(255, 255, 255, 0.5);
      font-weight: bold;
      display: inline-block;
      width: 1.75rem;
    }

    &:before {
      transform: rotate(90deg);
    }

    &:after {
      transform: rotate(-90deg);
    }
  }

  &:hover {
    box-shadow: none;
    transform: translate(0.125rem, 0.125rem);
    background-color: lighten($primary, 10%);
  }

  &:focus {
    outline: none;
    background-color: lighten($primary, 20%);
  }

  &:active {
    background-color: #fff;
    color: $primary;
    transform: translate(0.125rem, 0.125rem);
  }

  &.shadowless {
    box-shadow: none;

    &:hover {
      box-shadow: none;
      transform: none;
      background-color: lighten($primary, 10%);
    }

    &:active {
      background-color: #fff;
      color: $primary;
      transform: none;
    }
  }
}

.button-group {
  button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.action-row {
  margin-top: 1.5rem;
  justify-content: flex-end !important;
}

.input-row {
  display: flex;
  align-items: center;

  & > * {
    margin-top: 0;
  }

  label {
    margin-right: 1rem;
  }

  input {
    background-color: $grey;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;

    &:focus {
      outline: 0;
      box-shadow: inset 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
    }
  }
}

//
// --- Components ---
//

.new-character {
  flex: 1;
  margin: 0;
  background-color: $beigeLight;
  background-image: url(../images/circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  border-top: 2px solid transparentize($beigeDark, 0.75);

  .input-row {
    justify-content: space-between;
    padding: 0 2rem 0 1rem;
  }

  .new-character-name {
    width: 100%;
  }
}

.roller {
  background-image: url(../images/texture-512x512.jpg);
  background-size: 256px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 500ms ease-out;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    left: -24px;
    width: 24px;
    height: 100%;
    background-image: url(../images/tear-48x512.png);
    background-size: 24px;
    background-repeat: repeat-y;
  }

  &.open {
    transform: translateX(0);
  }

  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .roller-content {
    margin: 0;
    padding: 2rem;
    overflow: auto;
  }
}

.counter-control {
  display: flex;

  & > * {
    margin: 0;
  }

  input {
    border-radius: 0;
    max-width: 1.5rem;
    padding: calc(0.5rem - 2px) 0.25rem;
    text-align: center;
    border-top: 2px solid $secondary;
    border-bottom: 2px solid $secondary;
  }
}

.characters {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    border-top: 2px solid $grey;
  }
}

.character {
  padding: 2rem;
  max-width: $mainColumnWidth;
  margin: 0 auto;

  .resistance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $primary;
    margin: 0;

    h3 {
      font-size: 1rem;
      padding-left: 0.5rem;
      transform: translateY(2px); // Because of the weird font baseline

      small { font-size: 0.8rem; }
    }

    & > div {
      margin: 0 0.5rem 0 auto;
    }

    button {
      border-radius: 0;
      margin-top: 0;
    }

    &:first-of-type {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    &:last-of-type {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  .resistance + .resistance {
    margin-top: -1px;
  }
}
