//
// --- Fonts ---
//

@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

@font-face {
  font-family: 'Mahalo';
  src: url('../fonts/Mahalo.woff2') format('woff2'),
       url('../fonts/Mahalo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//
// --- Variables ---
//

$grey: #e4e6e7;
$primary: #214050;
$secondary: #8fa5b0;
$beigeDark: #9a9a92;
$beigeLight: #f6f6f4;
$red: #ad302a;

$mainColumnWidth: 480px;

//
// --- Mixins ---
//

@mixin shadow($xOffset: 0.125rem, $yOffset: 0.125rem) {
  box-shadow: $xOffset $yOffset 0.5rem rgba(0, 0, 0, 0.4);
}

//
// --- Basics
//

* {
  box-sizing: border-box;

  *:before, *:after {
    box-sizing: inherit;
  }
}

* + * {
  margin-top: 1rem;
  margin-bottom: 0;

  :first-child {
    margin-top: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../images/dots.png);
  background-size: 600px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-family: 'Zilla Slab', serif;
}

h1, h2, h3, h4 {
  color: $primary;
  text-transform: uppercase;
  font-family: Mahalo, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; color: $beigeDark; margin-top: 1.5rem; }
h4 { font-size: 1rem; }

//
// --- Layout ---
//

.estresso {
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;

  & > header {
    margin: 0;
    background-color: #fff;
    background-image: url(../images/circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
  }
}

.column {
  max-width: $mainColumnWidth;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.flex-container {
  display: flex;

  & > * {
    margin: 0;
  }
}

//
// --- Buttons ---
//

button {
  font-family: inherit;
  background-color: $primary;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 100ms linear;
  @include shadow();

  &.secondary {
    background-color: $secondary;
  }

  &.small {
    padding: 0.25rem 0.5rem;
  }

  &.tilded {
    &:before, &:after {
      content: '\2020';
      color: rgba(255, 255, 255, 0.5);
      font-weight: bold;
      display: inline-block;
      width: 1.75rem;
    }

    &:before {
      transform: rotate(90deg);
    }

    &:after {
      transform: rotate(-90deg);
    }
  }

  &:hover {
    box-shadow: none;
    transform: translate(0.125rem, 0.125rem);
    background-color: lighten($primary, 10%);
  }

  &:focus {
    outline: none;
    background-color: lighten($primary, 20%);
  }

  &:active {
    background-color: #fff;
    color: $primary;
    transform: translate(0.125rem, 0.125rem);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
      transform: none;
      background-color: $primary;
    }
  }

  &.shadowless {
    box-shadow: none;

    &:hover {
      box-shadow: none;
      transform: none;
      background-color: lighten($primary, 10%);
    }

    &:active {
      background-color: #fff;
      color: $primary;
      transform: none;
    }
  }

  &.backgroundless {
    box-shadow: none;
    color: $secondary;
    background-color: transparent;

    &:hover {
      box-shadow: none;
      transform: none;
      background-color: transparentize($secondary, 0.9);
    }

    &:active {
      background-color: transparentize($secondary, 0.9);
      transform: none;
      color: lighten($secondary, 10%);
    }
  }

  &.has-icon {
    padding: 0.25rem;
    display: flex;

    svg {
      width: 1.25rem;
    }
  }
}

.button-group {
  button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.action-row {
  margin-top: 1.5rem;
  justify-content: flex-end !important;
}

.input-row {
  display: flex;
  align-items: center;

  & > * {
    margin-top: 0;
  }

  label {
    margin-right: 1rem;
  }

  input {
    background-color: $grey;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;

    &:focus {
      outline: 0;
      box-shadow: inset 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
    }
  }
}

select {
  background-color: $primary;
  color: #fff;
  font-family: inherit;
  background-color: $primary;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;

  &.small {
    padding: 0.25rem 0.5rem;
  }
}

//
// --- Transitions & Animations ---
//

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms linear;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/*! * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake:hover,
.shake-trigger:hover .shake {
  animation-play-state: running; }

@keyframes shake {
  2% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  4% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  6% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  8% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
  10% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  12% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  14% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }
  16% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  18% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  20% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  22% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  24% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg); }
  26% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  28% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  30% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  32% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  34% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  36% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  38% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  40% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg); }
  42% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
  44% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  46% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  48% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  50% {
    transform: translate(2.5px, 1.5px) rotate(1.5deg); }
  52% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  54% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  56% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg); }
  58% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg); }
  60% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  62% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg); }
  64% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
  66% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  68% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  70% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  72% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  74% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  76% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  78% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  80% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  82% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  84% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }
  86% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  88% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  90% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  92% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  94% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  96% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  98% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake:hover,
.shake-trigger:hover .shake, .shake.shake-freeze, .shake.shake-constant {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes lightUp {
  0% {
    background-color: #000;
  }
  10% {
    background-color: $red;
  }
  100% {
    background-color: #000;
  }
}

//
// --- Components ---
//

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  &.reversed {
    transform: rotateY(180deg);
  }
}

.new-character {
  flex: 1;
  margin: 0;
  background-color: $beigeLight;
  background-image: url(../images/circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  border-top: 2px solid transparentize($beigeDark, 0.75);

  .input-row {
    justify-content: space-between;
    padding: 0 1rem 0 0.5rem;
  }

  .new-character-name {
    width: 100%;
  }
}

.roller {
  background-image: url(../images/texture-512x512.jpg);
  background-size: 256px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &:before {
    content: '';
    position: absolute;
    left: -23px;
    width: 24px;
    height: 100%;
    background-image: url(../images/tear-48x512.png);
    background-size: 24px;
    background-repeat: repeat-y;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -800px;
    width: 800px;
    height: 100%;
    background-color: $red;
  }

  nav {
    padding: 2rem 0 0 1rem;
  }

  h2 {
    color: lighten($primary, 50%);

    small {
      color: $grey;
      display: block;
    }
  }

  .roller-content {
    margin: 0;
    padding: 2rem 2rem 2rem 1rem;
    overflow: auto;
    width: 100%;
  }

  .dice {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;

    .die {
      perspective: 1000px;
      transform-style: preserve-3d;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      transition: transform 750ms ease;

      &.flipped {
        transform: rotateY(720deg);
      }

      &.disabled {
        opacity: 0.5;
      }
    }

    & > div {
      margin: 0;
      width: 4rem;
    }

    .die button {
      color: #000;
      font-size: 1.5rem;
      font-family: Mahalo, sans-serif;
      padding-top: 12px;

      &:active {
        transform: scale(0.9, 0.9);
      }

      &:hover {
        background-color: transparent;
      }
    }

    .d1 .die {
      background-image: url(../images/one.svg);
    }

    .d3 .die {
      background-image: url(../images/d3.svg);
    }

    .d6 .die {
      background-image: url(../images/d6.svg);
    }

    .d8 .die {
      background-image: url(../images/d8.svg);
    }
  }

  .brutal-placeholder {
    width: 100%;
    height: 28px;
    background-color: $primary;
    border-radius: 0.25rem;
    opacity: 0.3;
  }

  .brutal {
    padding: 0.25rem 0.5rem 0.25rem 2.1rem;
    width: 100%;
    height: 28px;
    background-image: url(../images/brutal.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0.6rem 0.25rem;
  }

  .fallout-rolling {
    text-transform: uppercase;
    font-size: 0.7rem;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.125rem;
    margin-top: 0;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.show {
      opacity: 1;
    }

    .d10 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.75rem;
      height: 1.75rem;
      background-image: url(../images/d10-black.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: #fff;
      text-align: center;
      font-size: 1rem;
      margin-right: 0.25rem;
      font-family: Mahalo, sans-serif;
      padding: 3px 0 0 1px;
    }
  }

  .fallout {
    position: relative;
    margin: 2rem -2rem 0 0;
    overflow: hidden;
    background-image: url(../images/texture-red-512x512.jpg);
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-size: 256px;
    padding: 1rem 1rem 0.75rem 3.5rem;
    color: #fff;

    &:before {
      content: '';
      background-image: url(../images/fallout.svg);
      background-repeat: no-repeat;
      background-size: 104px;
      width: 110px;
      height: 105%;
      position: absolute;
      top: -4px;
      left: -4px;
      opacity: 0.15;
    }

    h3 {
      color: #fff;
      font-size: 2.5rem;
    }

    h4 {
      color: #fff;
      font-size: 1.5rem;
      margin-top: 0.25rem;
    }
  }

  .actions {
    padding: 0;
    text-align: right;
    margin: 2rem 0 0 0;

    .secondary {
      background-color: darken($secondary, 45%);
    }
  }

  .fallout-items {
    margin-top: 2rem;
  }
}

.counter-control {
  display: flex;

  & > * {
    margin: 0;
  }

  input {
    border-radius: 0;
    max-width: 1.5rem;
    padding: calc(0.5rem - 2px) 0.25rem;
    text-align: center;
    border-top: 2px solid $secondary;
    border-bottom: 2px solid $secondary;
  }
}

.characters {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    border-top: 2px solid $grey;
  }
}

.character {
  padding: 1.5rem 3rem 2rem 2rem;
  max-width: $mainColumnWidth;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
      margin-top: 0;
    }
  }

  .resistance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $primary;
    margin: 0;
    background-color: #fff;

    &:hover {
      background-color: $beigeLight;
    }

    h3 {
      font-size: 1rem;
      padding-left: 0.5rem;
      transform: translateY(2px); // Because of the weird font baseline

      small { font-size: 0.8rem; }
    }

    & > div {
      margin: 0 0.5rem 0 auto;
    }

    button {
      border-radius: 0;
      margin-top: 0;
    }

    &:first-of-type {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    &:last-of-type {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  .resistance + .resistance {
    margin-top: -1px;
  }
}

.fallout-item {
  display: flex;
  background-color: #000;
  border: 1px solid $primary;
  color: $beigeDark;

  .details {
    flex: 1;
    padding: 0.5rem;
    display: flex;
    align-items: center;

    & > * {
      margin: 0;
    }
  }

  &.possessed {
    .details {
      background-color: darken($secondary, 50%);
    }
  }

  &.suggested {
    animation-name: lightUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2s;
  }

  &:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &:last-of-type {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  button {
    border-radius: 0;
  }

  input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    left: -9999px;
  }

  label {
    padding-left: 2rem;
    color: $beigeLight;
    font-weight: bold;
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 0.25rem center;
    transition: all 200ms ease-in-out;

    small {
      text-transform: uppercase;
      color: $beigeDark;
      font-weight: normal;
    }
  }

  input:checked + label {
    background-image: url(../images/checkbox-ticked.svg);
  }

  .severity {
    display: flex;
    margin-left: auto;
    padding-left: 0.5rem;

    & > * {
      margin: 0;
    }
  }
}

.fallout-item + .fallout-item {
  margin-top: -1px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 200ms linear;
  }

  &.modal-open {
    pointer-events: all;

    .modal-backdrop {
      opacity: 1;
    }
  }

  .modal-content-wrapper {
    flex: 1;
    max-width: 256px; // should always be multiple of this so tears can align
    height: 100vh;
    margin: 0;
    overflow: visible;
    display: flex;

    span {
      width: 100%;
    }
  }

  .modal-content {
    background-image: url(../images/texture-red-512x512.jpg);
    background-size: 256px;
    position: relative;
    padding: 1rem;
    height: 100vh;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -23px;
      width: 24px;
      height: 100%;
      background-image: url(../images/tear-red-left-48x512.png);
      background-size: 24px;
      background-repeat: repeat-y;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -23px;
      width: 24px;
      height: 100%;
      background-image: url(../images/tear-red-right-48x512.png);
      background-size: 24px;
      background-repeat: repeat-y;
    }
  }
}
