@font-face {
  font-family: 'Zilla Slab';
  src: url("../fonts/ZillaSlab-Regular.woff2") format("woff2"), url("../fonts/ZillaSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url("../fonts/ZillaSlab-Bold.woff2") format("woff2"), url("../fonts/ZillaSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mahalo';
  src: url("../fonts/Mahalo.woff2") format("woff2"), url("../fonts/Mahalo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

* *:before, * *:after {
  box-sizing: inherit;
}

* + * {
  margin-top: 1rem;
  margin-bottom: 0;
}

* + * :first-child {
  margin-top: 0;
}

html {
  background-color: #ad302a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../images/dots.png);
  background-size: 600px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-family: 'Zilla Slab', serif;
}

h1, h2, h3, h4 {
  color: #214050;
  text-transform: uppercase;
  font-family: Mahalo, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  color: #9a9a92;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1rem;
  transform: translateY(2px);
}

h1 small {
  display: block;
  color: #8fa5b0;
  font-size: 1.12rem;
}

.estresso {
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
}

.estresso > header {
  margin: 0;
  background-color: #fff;
  background-image: url(../images/circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.estresso > span {
  margin-top: 0;
}

.column {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 3rem 2rem 2rem;
}

.flex-container {
  display: flex;
}

.flex-container > * {
  margin: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-vertical-center {
  align-items: center;
}

.panel {
  border-radius: 0.25rem;
  border: 1px solid #214050;
  overflow: hidden;
}

.panel header {
  background-color: #214050;
  text-align: left;
  padding: 0.5rem;
  color: #fff;
  font-weight: bold;
}

.panel .body {
  margin-top: 0;
  background-color: #fff;
}

.panel .body > div {
  margin-top: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #214050;
}

.panel .body > div:last-of-type {
  border-bottom: none;
}

.panel .body > div > div {
  width: 100%;
}

.panel .body > div > div:first-of-type {
  margin-right: 0.5rem;
}

table {
  width: 100%;
  border-spacing: 0;
  border-radius: 0.25rem;
}

table thead th {
  background-color: #214050;
  text-align: left;
  padding: 0.5rem;
  color: #fff;
  font-weight: bold;
}

table thead th:first-of-type {
  border-top-left-radius: 0.25rem;
}

table thead th:last-of-type {
  border-top-right-radius: 0.25rem;
}

table tbody tr {
  background-color: #fff;
}

table tbody tr:hover {
  background-color: #f6f6f4;
}

table tbody tr td {
  border-bottom: 1px solid #214050;
  padding: 0.5rem;
}

table tbody tr td:first-of-type {
  border-left: 1px solid #214050;
}

table tbody tr td:last-of-type {
  border-right: 1px solid #214050;
}

table tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 0.25rem;
}

table tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 0.25rem;
}

button {
  font-family: inherit;
  background-color: #214050;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 100ms linear;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.4);
}

button.secondary {
  background-color: #8fa5b0;
}

button.small {
  padding: 0.25rem 0.5rem;
}

button.with-icon {
  display: flex;
  align-items: center;
  padding-right: 0.85rem;
}

button.with-icon svg {
  margin-right: 0.5rem;
  stroke: #8fa5b0;
}

button.bright {
  background-color: #47a4b9;
}

button:hover {
  box-shadow: none;
  transform: translate(0.125rem, 0.125rem);
  background-color: #305d74;
}

button:focus {
  outline: none;
  background-color: #3f7a98;
}

button:active {
  background-color: #fff;
  color: #214050;
  transform: translate(0.125rem, 0.125rem);
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

button[disabled]:hover {
  box-shadow: none;
  transform: none;
  background-color: #214050;
}

button.shadowless {
  box-shadow: none;
}

button.shadowless:hover {
  box-shadow: none;
  transform: none;
  background-color: #305d74;
}

button.shadowless:active {
  background-color: #fff;
  color: #214050;
  transform: none;
}

button.backgroundless {
  box-shadow: none;
  color: #8fa5b0;
  background-color: transparent;
}

button.backgroundless:hover {
  box-shadow: none;
  transform: none;
  background-color: rgba(143, 165, 176, 0.1);
}

button.backgroundless:active {
  background-color: rgba(143, 165, 176, 0.1);
  transform: none;
  color: #adbdc5;
}

button.has-icon {
  padding: 0.25rem;
  display: flex;
}

button.has-icon svg {
  width: 1.25rem;
}

button.bottom-left-rounded {
  border-bottom-left-radius: 0.25rem !important;
}

.button-group button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.action-row {
  margin-top: 1.5rem;
  justify-content: flex-end !important;
}

.input-row {
  display: flex;
  align-items: center;
}

.input-row > * {
  margin-top: 0;
}

.input-row label {
  margin-right: 1rem;
}

.input-row input {
  background-color: #e4e6e7;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.input-row input:focus {
  outline: 0;
  box-shadow: inset 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

.input-row.child label {
  margin-left: 1rem;
}

select {
  background-color: #214050;
  color: #fff;
  font-family: inherit;
  background-color: #214050;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

select.small {
  padding: 0.25rem 0.5rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms linear;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/*! * * * * * * * * * * * * * * * * * * * *  CSShake :: shake
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake {
  display: inline-block;
  transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake:hover,
.shake-trigger:hover .shake {
  animation-play-state: running;
}

@keyframes shake {
  2% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }
  4% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  6% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  8% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg);
  }
  10% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  12% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg);
  }
  14% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg);
  }
  16% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  18% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg);
  }
  20% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  22% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }
  24% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg);
  }
  26% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  28% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  30% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg);
  }
  32% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  34% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }
  36% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  38% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  40% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg);
  }
  42% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg);
  }
  44% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  46% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg);
  }
  48% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg);
  }
  50% {
    transform: translate(2.5px, 1.5px) rotate(1.5deg);
  }
  52% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }
  54% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  56% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }
  58% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  62% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }
  64% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg);
  }
  66% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }
  68% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  70% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  72% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg);
  }
  74% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  76% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  78% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  80% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
  }
  82% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  84% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg);
  }
  86% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }
  88% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  90% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }
  92% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  94% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  96% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  98% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.shake:hover,
.shake-trigger:hover .shake, .shake.shake-freeze, .shake.shake-constant {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes lightUp {
  0% {
    background-color: #000;
  }
  10% {
    background-color: #ad302a;
  }
  100% {
    background-color: #000;
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon.reversed {
  transform: rotateY(180deg);
}

.new-character {
  flex: 1;
  margin: 0;
  background-color: #f6f6f4;
  background-image: url(../images/circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  border-top: 2px solid rgba(154, 154, 146, 0.25);
  padding-bottom: 2rem;
}

.new-character .input-row {
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem;
}

.new-character .new-character-name, .new-character .new-character-notes {
  width: 100%;
}

.roller {
  background-image: url(../images/texture-512x512.jpg);
  background-size: 256px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.roller:before {
  content: '';
  position: absolute;
  left: -23px;
  width: 24px;
  height: 100%;
  background-image: url(../images/tear-48x512.png);
  background-size: 24px;
  background-repeat: repeat-y;
}

.roller:after {
  content: '';
  position: absolute;
  top: 0;
  right: -800px;
  width: 800px;
  height: 100%;
  background-color: #ad302a;
  background-image: url(../images/quenelle.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.roller nav {
  padding: 2rem 0 0 1rem;
}

.roller h2 {
  color: #9ac1d6;
}

.roller h2 small {
  color: #e4e6e7;
  display: block;
}

.roller .roller-content {
  margin: 0;
  padding: 2rem 2rem 4rem 1rem;
  overflow: auto;
  width: 100%;
}

.roller .dice {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.roller .fallout-rolling {
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.125rem;
  margin-top: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.roller .fallout-rolling.show {
  opacity: 1;
}

.roller .fallout-rolling .d10 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  background-image: url(../images/d10-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin-right: 0.25rem;
  font-family: Mahalo, sans-serif;
  padding: 3px 0 0 1px;
}

.roller .fallout {
  position: relative;
  margin: 2rem -2rem 0 0;
  overflow: hidden;
  background-image: url(../images/texture-red-512x512.jpg);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-size: 256px;
  padding: 1rem 1rem 0.75rem 3.5rem;
  color: #fff;
}

.roller .fallout:before {
  content: '';
  background-image: url(../images/fallout.svg);
  background-repeat: no-repeat;
  background-size: 104px;
  width: 110px;
  height: 105%;
  position: absolute;
  top: -4px;
  left: -4px;
  opacity: 0.15;
}

.roller .fallout h3 {
  color: #fff;
  font-size: 2.5rem;
}

.roller .fallout h4 {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

.roller .actions {
  padding: 0;
  text-align: right;
  margin: 2rem 0 0 0;
}

.roller .actions .secondary {
  background-color: #252f34;
}

.roller .fallout-items {
  margin-top: 2rem;
}

.roller .fallout-level {
  text-transform: uppercase;
  color: #cf413b;
  display: flex;
  align-items: center;
}

.roller .fallout-level > * {
  margin: 0;
  filter: drop-shadow(0 0 0.25rem #000);
}

.roller .fallout-level > *:last-child {
  margin-left: 0.5rem;
  font-weight: bold;
}

.brutal-placeholder {
  width: 100%;
  height: 28px;
  background-color: #214050;
  border-radius: 0.25rem;
  opacity: 0.3;
}

.brutal {
  padding: 0.25rem 0.5rem 0.25rem 2.1rem;
  width: 100%;
  height: 28px;
  background-image: url(../images/brutal.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0.6rem 0.25rem;
}

.die {
  perspective: 1000px;
  transform-style: preserve-3d;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  transition: transform 750ms ease;
}

.die.flipped {
  transform: rotateY(720deg);
}

.die.disabled {
  opacity: 0.5;
}

.die-container > div {
  margin: 0;
  width: 4rem;
}

.die button {
  color: #000;
  font-size: 1.5rem;
  font-family: Mahalo, sans-serif;
  padding-top: 12px;
}

.die button:active {
  transform: scale(0.9, 0.9);
}

.die button:hover {
  background-color: transparent;
}

.d1 .die {
  background-image: url(../images/one.svg);
}

.d3 .die {
  background-image: url(../images/d3.svg);
}

.d6 .die {
  background-image: url(../images/d6.svg);
}

.d8 .die {
  background-image: url(../images/d8.svg);
}

.counter-control {
  display: flex;
  justify-content: center;
}

.counter-control > * {
  margin: 0;
}

.counter-control input {
  background-color: #e4e6e7;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0;
  max-width: 1.5rem;
  padding: calc(0.5rem - 2px) 0.25rem;
  text-align: center;
  border-top: 2px solid #8fa5b0;
  border-bottom: 2px solid #8fa5b0;
}

.characters {
  margin: 0;
  padding: 0;
  list-style: none;
}

.characters li {
  margin: 0;
  border-top: 2px solid #e4e6e7;
}

.character {
  padding: 1.5rem 3rem 2rem 2rem;
  max-width: 480px;
  margin: 0 auto;
}

.character header {
  display: flex;
  align-items: center;
}

.character header * {
  margin-top: 0;
}

.character header h2 {
  flex: 1;
}

.character .notes {
  margin-top: 0.25rem;
  font-size: 1.2rem;
}

.character .resistance {
  border: 1px solid #214050;
  margin: 0;
  background-color: #fff;
}

.character .resistance > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character .resistance > div:first-child > div {
  margin: 0.5rem;
  flex-grow: 1;
}

.character .resistance:hover {
  background-color: #f6f6f4;
}

.character .resistance h3 {
  font-size: 1rem;
  padding-left: 0.5rem;
  transform: translateY(2px);
  margin: 0;
}

.character .resistance button {
  border-radius: 0;
  margin-top: 0;
  align-self: stretch;
}

.character .resistance:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.character .resistance:last-of-type {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.character .resistance + .resistance {
  margin-top: -1px;
}

.character .any-fallout {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 2.25rem 0 0.5rem;
}

.fallout-item {
  display: flex;
  background-color: #000;
  border: 1px solid #214050;
  color: #9a9a92;
}

.fallout-item .details {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.fallout-item .details > * {
  margin: 0;
}

.fallout-item.possessed .details {
  background-color: #1a2226;
}

.fallout-item.suggested {
  animation-name: lightUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2s;
}

.fallout-item.final-suggestion {
  transition: all 200ms ease-in;
  background-image: url(../images/texture-red-512x512.jpg);
  background-size: 256px;
}

.fallout-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.fallout-item:last-of-type {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.fallout-item button {
  border-radius: 0;
}

.fallout-item input {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  left: -9999px;
}

.fallout-item label {
  padding-left: 2rem;
  color: #f6f6f4;
  font-weight: bold;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 0.25rem center;
  transition: all 200ms ease-in-out;
}

.fallout-item label small {
  text-transform: uppercase;
  color: #9a9a92;
  font-weight: normal;
}

.fallout-item input:checked + label {
  background-image: url(../images/checkbox-ticked.svg);
}

.fallout-item .severity {
  display: flex;
  margin-left: auto;
  padding-left: 0.5rem;
}

.fallout-item .severity > * {
  margin: 0;
}

.fallout-item + .fallout-item {
  margin-top: -1px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
}

.modal .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(173, 48, 42, 0.9);
  opacity: 0;
  transition: opacity 250ms linear;
}

.modal.modal-open {
  pointer-events: all;
}

.modal.modal-open .modal-backdrop {
  opacity: 1;
}

.modal .modal-content-wrapper {
  flex: 1;
  max-width: 512px;
  height: 100vh;
  margin: 0;
  overflow: visible;
  display: flex;
}

.modal .modal-content-wrapper span {
  width: 100%;
}

.modal .modal-content {
  background-image: url(../images/texture-red-512x512.jpg);
  background-size: 256px;
  position: relative;
  padding: 1rem;
  height: 100vh;
}

.modal .modal-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: -23px;
  width: 24px;
  height: 100%;
  background-image: url(../images/tear-red-left-48x512.png);
  background-size: 24px;
  background-repeat: repeat-y;
}

.modal .modal-content:after {
  content: '';
  position: absolute;
  top: 0;
  right: -23px;
  width: 24px;
  height: 100%;
  background-image: url(../images/tear-red-right-48x512.png);
  background-size: 24px;
  background-repeat: repeat-y;
}

.modal .modal-content header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0.5rem;
}

.modal .modal-content header > * {
  margin: 0;
}

.modal .modal-content header > *:last-child {
  margin-left: 0.5rem;
}

.modal .modal-content footer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 630px) {
  .modal .modal-content-wrapper {
    max-width: 256px;
  }
}

.tag {
  background-image: url(../images/texture-red-512x512.jpg);
  background-size: 256px;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0.5rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.tag > *, .tag .text > * {
  margin-top: 0;
}

.tag .text {
  display: flex;
}

.tag .text span {
  padding: 0.125rem 0;
}

.tag .text span + span {
  margin-left: 0.25rem;
}

.tag button {
  color: rgba(255, 255, 255, 0.75);
  padding: 0;
  margin-left: 0.25rem;
  transition: all 100ms linear;
}

.tag button:hover {
  color: #fff;
}

.tag button svg {
  width: 0.8rem;
  height: 0.8rem;
}

.tag .resistance {
  opacity: 0.8;
  font-size: 0.7rem;
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.editor {
  background-image: url(../images/dots.png);
  background-size: 600px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  border-right: 2px solid rgba(154, 154, 146, 0.25);
  z-index: 11;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.editor:before {
  content: '';
  position: absolute;
  top: 0;
  left: -800px;
  width: 800px;
  height: 100%;
  background-color: #ad302a;
}

.editor header {
  align-items: center;
  justify-content: space-between;
}

.editor header button {
  transform: translateY(-2px);
}

.editor .editor-content {
  margin: 0;
  padding: 2rem 2rem 4rem 2rem;
  overflow: auto;
  width: 100%;
}

.editor .column {
  padding: 0;
}

.editor .fallout {
  display: flex;
  flex-wrap: wrap;
}

.editor .actions {
  padding: 0;
  text-align: right;
  margin: 2rem 0 0 0;
}

.editor .stress-clearing {
  background-color: #abe1ed;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0 rgba(33, 64, 80, 0.75);
  position: relative;
  margin-bottom: 1.75rem;
  overflow: hidden;
}

.editor .stress-clearing p {
  margin-top: 0.25rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  color: #214050;
  opacity: 0.75;
}

.editor .stress-clearing:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/heart-bottle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  opacity: 0.5;
}

.editor .stress-clearing:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  transform: translateX(100%);
  z-index: 1;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  animation: shine 1.5s infinite;
}

.editor .clear-actions {
  margin-top: 0;
  justify-content: space-between;
  align-items: center;
}

.editor .clear-actions .die button {
  color: #fff;
}

.editor .clear-actions .d3 .die {
  background-image: url(../images/d3-bright.svg);
}

.editor .clear-actions .d6 .die {
  background-image: url(../images/d6-bright.svg);
}

.editor .clear-actions .d8 .die {
  background-image: url(../images/d8-bright.svg);
}

.editor .editor-resistance .input-row .flex-container {
  justify-content: flex-end;
}

.editor .editor-resistance .input-row .flex-container > * {
  margin-left: 0.25rem;
}

.editor .character-notes {
  width: 100%;
}

.editor .footer {
  background-color: rgba(143, 165, 176, 0.2);
}

.clear-key {
  margin: 0 0 0 auto;
  width: 69%;
  color: #47a4b9;
  border-left: 1px solid #47a4b9;
  border-right: 1px solid #47a4b9;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1;
  letter-spacing: 2px;
  position: relative;
}

.clear-key span {
  background-color: #fff;
  padding: 0 0.5rem;
}

.clear-key:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #47a4b9;
  z-index: -1;
}

.editor-open .estresso, .roller-open .estresso {
  overflow: hidden;
}

.stress-in-resistance .slot {
  width: 1rem;
  height: 1rem;
  stroke: #e4e6e7;
  fill: #e4e6e7;
  stroke-width: 3;
}

.stress-in-resistance .slot.used {
  stroke: #ad302a;
  fill: #ad302a;
}

.stress-in-resistance .armour-slot.used {
  fill: #e4e6e7;
}

.stress-in-resistance .free-slot {
  margin: 0 1px;
  fill: rgba(173, 48, 42, 0.2);
  stroke: transparent;
}

.stress-in-resistance .free-slot.used {
  fill: rgba(173, 48, 42, 0.2);
}

.stress-in-resistance .regular-slot {
  margin: 0 1px;
}
