@import url("https://fonts.googleapis.com/css?family=Zilla+Slab");
@font-face {
  font-family: 'Mahalo';
  src: url("../fonts/Mahalo.woff2") format("woff2"), url("../fonts/Mahalo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

* *:before, * *:after {
  box-sizing: inherit;
}

* + * {
  margin-top: 1rem;
  margin-bottom: 0;
}

* + * :first-child {
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../images/dots.png);
  background-size: 600px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-family: 'Zilla Slab', serif;
}

h1, h2, h3, h4 {
  color: #214050;
  text-transform: uppercase;
  font-family: Mahalo, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  color: #9a9a92;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1rem;
}

.estresso {
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
}

.estresso > header {
  margin: 0;
  background-color: #fff;
  background-image: url(../images/circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.column {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.flex-container {
  display: flex;
}

.flex-container > * {
  margin: 0;
}

button {
  font-family: inherit;
  background-color: #214050;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 100ms linear;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.4);
}

button.secondary {
  background-color: #8fa5b0;
}

button.small {
  padding: 0.25rem 0.5rem;
}

button.tilded:before, button.tilded:after {
  content: '\2020';
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  display: inline-block;
  width: 1.75rem;
}

button.tilded:before {
  transform: rotate(90deg);
}

button.tilded:after {
  transform: rotate(-90deg);
}

button:hover {
  box-shadow: none;
  transform: translate(0.125rem, 0.125rem);
  background-color: #305d74;
}

button:focus {
  outline: none;
  background-color: #3f7a98;
}

button:active {
  background-color: #fff;
  color: #214050;
  transform: translate(0.125rem, 0.125rem);
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

button[disabled]:hover {
  box-shadow: none;
  transform: none;
  background-color: #214050;
}

button.shadowless {
  box-shadow: none;
}

button.shadowless:hover {
  box-shadow: none;
  transform: none;
  background-color: #305d74;
}

button.shadowless:active {
  background-color: #fff;
  color: #214050;
  transform: none;
}

button.backgroundless {
  box-shadow: none;
  color: #8fa5b0;
  background-color: transparent;
}

button.backgroundless:hover {
  box-shadow: none;
  transform: none;
  background-color: rgba(143, 165, 176, 0.1);
}

button.backgroundless:active {
  background-color: rgba(143, 165, 176, 0.1);
  transform: none;
  color: #adbdc5;
}

button.has-icon {
  padding: 0.25rem;
  display: flex;
}

button.has-icon svg {
  width: 1.25rem;
}

.button-group button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.action-row {
  margin-top: 1.5rem;
  justify-content: flex-end !important;
}

.input-row {
  display: flex;
  align-items: center;
}

.input-row > * {
  margin-top: 0;
}

.input-row label {
  margin-right: 1rem;
}

.input-row input {
  background-color: #e4e6e7;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.input-row input:focus {
  outline: 0;
  box-shadow: inset 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

select {
  background-color: #214050;
  color: #fff;
  font-family: inherit;
  background-color: #214050;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

select.small {
  padding: 0.25rem 0.5rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms linear;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/*! * * * * * * * * * * * * * * * * * * * *  CSShake :: shake
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake {
  display: inline-block;
  transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake:hover,
.shake-trigger:hover .shake {
  animation-play-state: running;
}

@keyframes shake {
  2% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }
  4% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  6% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  8% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg);
  }
  10% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  12% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg);
  }
  14% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg);
  }
  16% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  18% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg);
  }
  20% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  22% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }
  24% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg);
  }
  26% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  28% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  30% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg);
  }
  32% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  34% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }
  36% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  38% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  40% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg);
  }
  42% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg);
  }
  44% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  46% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg);
  }
  48% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg);
  }
  50% {
    transform: translate(2.5px, 1.5px) rotate(1.5deg);
  }
  52% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }
  54% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  56% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }
  58% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  62% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }
  64% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg);
  }
  66% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }
  68% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  70% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  72% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg);
  }
  74% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  76% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  78% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  80% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
  }
  82% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  84% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg);
  }
  86% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }
  88% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  90% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }
  92% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  94% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  96% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }
  98% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.shake:hover,
.shake-trigger:hover .shake, .shake.shake-freeze, .shake.shake-constant {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon.reversed {
  transform: rotateY(180deg);
}

.new-character {
  flex: 1;
  margin: 0;
  background-color: #f6f6f4;
  background-image: url(../images/circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  border-top: 2px solid rgba(154, 154, 146, 0.25);
}

.new-character .input-row {
  justify-content: space-between;
  padding: 0 1rem 0 0.5rem;
}

.new-character .new-character-name {
  width: 100%;
}

.roller {
  background-image: url(../images/texture-512x512.jpg);
  background-size: 256px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.roller:before {
  content: '';
  position: absolute;
  left: -23px;
  width: 24px;
  height: 100%;
  background-image: url(../images/tear-48x512.png);
  background-size: 24px;
  background-repeat: repeat-y;
}

.roller:after {
  content: '';
  position: absolute;
  top: 0;
  right: -800px;
  width: 800px;
  height: 100%;
  background-color: #ad302a;
}

.roller nav {
  padding: 2rem 0 0 1rem;
}

.roller h2 {
  color: #9ac1d6;
}

.roller h2 small {
  color: #e4e6e7;
  display: block;
}

.roller .roller-content {
  margin: 0;
  padding: 2rem 2rem 2rem 1rem;
  overflow: auto;
  width: 100%;
}

.roller .dice {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.roller .dice .die {
  perspective: 1000px;
  transform-style: preserve-3d;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  transition: transform 750ms ease;
}

.roller .dice .die.flipped {
  transform: rotateY(720deg);
}

.roller .dice .die.disabled {
  opacity: 0.5;
}

.roller .dice > div {
  margin: 0;
  width: 4rem;
}

.roller .dice .die button {
  color: #000;
  font-size: 1.5rem;
  font-family: Mahalo, sans-serif;
  padding-top: 12px;
}

.roller .dice .die button:active {
  transform: scale(0.9, 0.9);
}

.roller .dice .die button:hover {
  background-color: transparent;
}

.roller .dice .d1 .die {
  background-image: url(../images/one.svg);
}

.roller .dice .d3 .die {
  background-image: url(../images/d3.svg);
}

.roller .dice .d6 .die {
  background-image: url(../images/d6.svg);
}

.roller .dice .d8 .die {
  background-image: url(../images/d8.svg);
}

.roller .brutal-placeholder {
  width: 100%;
  height: 28px;
  background-color: #214050;
  border-radius: 0.25rem;
  opacity: 0.3;
}

.roller .brutal {
  padding: 0.25rem 0.5rem 0.25rem 2.1rem;
  width: 100%;
  height: 28px;
  background-image: url(../images/brutal.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0.6rem 0.25rem;
}

.roller .fallout-rolling {
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.125rem;
  margin-top: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.roller .fallout-rolling.show {
  opacity: 1;
}

.roller .fallout-rolling .d10 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  background-image: url(../images/d10-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin-right: 0.25rem;
  font-family: Mahalo, sans-serif;
  padding: 3px 0 0 1px;
}

.roller .fallout {
  position: relative;
  margin: 2rem -2rem 0 0;
  overflow: hidden;
  background-image: url(../images/texture-red-512x512.jpg);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-size: 256px;
  padding: 1rem 1rem 0.75rem 3.5rem;
  color: #fff;
}

.roller .fallout:before {
  content: '';
  background-image: url(../images/fallout.svg);
  background-repeat: no-repeat;
  background-size: 104px;
  width: 110px;
  height: 105%;
  position: absolute;
  top: -4px;
  left: -4px;
  opacity: 0.15;
}

.roller .fallout h3 {
  color: #fff;
  font-size: 2.5rem;
}

.roller .fallout h4 {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

.roller .actions {
  padding: 0;
  text-align: right;
  margin: 2rem 0 0 0;
}

.roller .actions .secondary {
  background-color: #252f34;
}

.counter-control {
  display: flex;
}

.counter-control > * {
  margin: 0;
}

.counter-control input {
  border-radius: 0;
  max-width: 1.5rem;
  padding: calc(0.5rem - 2px) 0.25rem;
  text-align: center;
  border-top: 2px solid #8fa5b0;
  border-bottom: 2px solid #8fa5b0;
}

.characters {
  margin: 0;
  padding: 0;
  list-style: none;
}

.characters li {
  margin: 0;
  border-top: 2px solid #e4e6e7;
}

.character {
  padding: 1.5rem 3rem 2rem 2rem;
  max-width: 480px;
  margin: 0 auto;
}

.character header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character header * {
  margin-top: 0;
}

.character .resistance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #214050;
  margin: 0;
  background-color: #fff;
}

.character .resistance:hover {
  background-color: #f6f6f4;
}

.character .resistance h3 {
  font-size: 1rem;
  padding-left: 0.5rem;
  transform: translateY(2px);
}

.character .resistance h3 small {
  font-size: 0.8rem;
}

.character .resistance > div {
  margin: 0 0.5rem 0 auto;
}

.character .resistance button {
  border-radius: 0;
  margin-top: 0;
}

.character .resistance:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.character .resistance:last-of-type {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.character .resistance + .resistance {
  margin-top: -1px;
}
